:root {
    --font-family-main: "Times New Roman", serif;
    --font-size: 16px;
    --font-line: 24px;
    --font-m: var(--font-size) / var(--font-line) var(--font-family-main);
    --bg-color: #ffffff;
    --primary-color: #000000;
    --secondary-color: #333538;
}
